body {
    
    color: #f7f7f7;
}

.jumbotron {
    background-image: url("/Users/paolozambrano/Desktop/Todo/Data_Analyst_Projects/module_11/UFOs/static/images/earth.jpg");
    background-size: 100% 100%;
    text-align: center;
  }